*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}


.container{
    width: 50%;
    height: 30vh;
    background-color: #FFC7ED;
    margin: 4vh auto;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}