/* #test{
    background-color: #E6B2C6;
    width: calc(100% - 200px);
    margin: 25px auto;
} */



#test{
    background-color: #E6B2C6;
    /* width: max(70%, 700px); */
    width: min(70%, 700px);
    margin: 25px auto;
}