@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



h1 {

    /* font-family: serif;
    font-family: sans-serif;
    font-family: monospace; */
    /* font-family: cursive;
    font-family: fantasy; */


    /* Canstom Font */

    font-family: "Roboto";
    font-family: 'Lato', sans-serif;


    /* Serif Fonts */

    font-family: 'Times New Roman';
    font-family: Georgia;


    /* Sans-serif */
    font-family: 'Arial';
    font-family: Verdana;

    /* Monospace */

    font-family: 'Courier New';


    /* Fantasy Fonts */

    font-family: papryus;



    /* Cursive Fonts */

    font-family: "Brush Script MT";


    font-family: "Poppins" sans-serif;

}

h2 {
    /* font-size: 50px; */
    font-size: 4.0625em;

    font-size: 100%;

    font-style: italic;

    font-style: oblique;

    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}


h3 {
    font-size: 100%;

    font-weight: normal;
    font-weight: bold;

}

h1{
    font-family: "Poppins" sans-serif;

    font-family: "Bungee Spice", sans-serif;

    font-size: 50px;
    font-style: italic;
}

h4{
    font-size: 50px;
    font-variant: small-caps;
}