body{
    background: url(bg.jpg);
}


h1{
    color: #f0eb4e68;
    color: rgb(255, 255, 255);
    color: rgb(0, 255, 0);
    color: rgb(0, 0, 255);
    color: rgba(255, 255, 0, 0.1);
    color: #FFDE4D;

}