h1, p{
    border: 1px solid black;
}

span{
    border: 1px solid rebeccapurple;
}

#title{
    background-color: #AD49E1;
    color: white;
    padding: 10px;
    border-radius: 8px;
}




.title{
   
    font-family: 'Courier New', Courier, monospace;
    background-color: #48CFCB;

}