*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.parent{
    background-color: #00CCDD;

    width: 500px;
    height: 300px;
    margin: 50px auto;
    padding: 15px 25px;
}

.child{
    width: 300px;
    height: 200px;
    background-color:  white;
    margin: 30px auto;
    padding: 20px 25px;
}

form input{
    width: 245px;
    height: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
    border: 1px solid #B5C0D0;
    font-family: "Poppins", sans-serif;
    padding-left: 5px;
    
}

h3{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  color: #00CCDD;
}

.btn{
    background-color: #7CF5FF;
    color: white;
    font-weight: 300;
    border-radius: 8px;
}
.btn:hover{
    background-color: #6439FF;
    color: black;
    cursor: pointer;
}