p{
    color: blueviolet;
}

div p{
    color: #FF597B;
    font-weight: bold;
}


/*Child Selector > */

div > p{
    color: #16423C;
}


/* Adjacent Sibling Selector +  */


div + p{
    color: #AA14F0;
}


section + p {
    color: #39A2DB;
}


section ~ p {
    color: #A79277;
}




.parent p{
    color: #FDB827;
}


.parent > p{
    color: #610C63;
}
