*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    font-size: 45px;
}


.container{
    display: flex;
    flex-direction: row;

    gap: 4vh;

    /* border:  4px solid #FF6969; */

    /* justify-content: space-between; */

    border-radius: 8px;

    padding: 4vh;

}


[class^="block-"]{
    border: 4px solid black;
    height: calc(100vh - 4vh - 4vh);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    
}

.block-1{
    flex-grow: 2;
    background-color: #C9E6F0;
    
}
.block-2{
    flex-grow: 8;
    background-color: #E8BCB9;
}



@media(max-width:480px){
    .container{
        flex-direction: column;
      
    }
    [class^="block-"]{
        height: calc(50vh - 4vh - 4vh);
        
    }
}