@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}


#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}


#menu li{
    display: inline-block;
    position: relative;
}
#menu li a{
    display: block;
    padding: 12px 15px;
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
#menu li a:hover{
    background-color: #4586FF;
    color: white;
}

#menu{
    background-color: #ABA9E9;
}


#menu ul ul{
    position: absolute;
    left: 0;
    top: 47px;
    background-color: #A0B6F5;
    display: none;
    z-index: 999;
}

#menu ul ul li{
    display: block;
}

#menu ul li:hover ul{
    display: block;
    
}


#menu ul li:hover a{
    background-color: #4586FF;
    color: white;
    
    
}

#menu ul li:hover li a{
    background: #4586FF;
    color: black;
    
}

#menu ul ul li a:hover{
    background-color: #4942E4;
    color: white;
}



