*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    margin-top: 10px;
    vertical-align: middle;
    width: 100;
}

.parent{
    display: flex;
    padding: 10px;
}
.child{
    flex-basis: 33%;
}