*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    font-size: 45px;
}

.container{
    display: flex;
    flex-direction: row;

    gap: 4vh;

    border:  4px solid #FF6969;

    justify-content: space-between;

    border-radius: 8px;
}


@media (max-width: 480px){
    .container{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        /* gap: 10vh; */
    }
}